# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Project2_Data/
build_Data/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.pdb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.exe

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============== #
# Specific files #
# ============== #
Assets/Photon\ Unity\ Networking/Resources/
